@charset "UTF-8";

/* 

Paleta de cores

cor 1 : #8e8e1a
cor 2 : #cebf85
cor 3: #70760A

*/
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&');

* {
    margin: 0px;
    padding:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {

    background-color:#cac19c93 ;
    width: 100vw;
    height:100vh ;
}

main {
    width: 100vw;
    height:100vh ;
    position: relative;
}

section#login {

    position: absolute;
    top:50% ;
    left:50% ;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 550px;
    margin: auto;
    border-radius: 20px;
    background-color:white; 
    overflow: hidden;
    box-shadow: 0px 0px 10px #8e8e1a ;  
    transition: width .2s , height .2s; 
    transition-timing-function: ease;
}

section#login > div#imagem {

    display: block;
    background: #cebf8593 url(../img/pexels-heeybooy-16767970.jpg) no-repeat ; 
    height: 200px;
    background-position: right center;
    background-size: cover;
}

section#login > div#formulario {

    display: block;
    padding: 10px;
}

div#formulario > h1 {

    text-align: center;
    margin-bottom: 10px;
    color:#414406;
}

div#formulario > p {

    font-size: .8em;
    margin-bottom: 20px;
    color:#414406;
}

div.campo {

    color:#70760A;
    
   
}

div.campo > input {

    transform: translateY(-10px);
}

div.campo > span  {

    margin-right: 5px;
    background-color:#cac19c93 ;
    font-size: 2em;
    border-radius: 5px;
    
    
   
}


form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color:#cac19c93;
    color:#70760A ;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

form > input[type=submit]:hover {

    background-color:#70760A ;
    color:white;
    text-shadow: 1px 1px 3px black;
    
}

form > a {

    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height:30px;
    padding-top: 5px;
    color:#414406;
    text-decoration: none;
    
   

}

form > a > span.material-symbols-outlined {

    font-size: 1.2em;
    
}






